/* SchmeaPairView */

div.SchemaPairView {
    background-color:transparent;
    padding:1px 5px 1px 5px;
    cursor:pointer;
    margin:0;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

div.Key {
  display:none;
  margin:0;
  float: left;
  font-weight:bold;
}

div.Menu {
  visibility:hidden;
  float:right;
  margin: 5px 0px 5px 5px;
  font-weight:bold;
}

div.Schema {
  margin:0;
  padding:0;
}

/* SchemaView */

ul.SchemaView {
  padding:0;
  margin-left:20px;
}




li.Items, 
li.Item,
li.Properties,
li.SchemaId,
li.Description,
li.Types, 
li.Name, 
li.Required, 
li.Minimum, 
li.Maximum, 
li.MaxItems,
li.MinItems,
li.Title, 
li.Name, 
li.DollarSchema
 {
  display:none;
  margin:0;
  color:#444;
  list-style: none;
  padding: 0;
}

div.Options{
  display:none;
  width:400px;
  font-size:90%;
  clear:both;
}

div.Schemas {
  padding:0 0 0 15px;
}

span.OpeningSymbol,
span.ClosingSymbol,
span.AttributeDelimiter,
span.SchemaPairDelimiter {
  margin:0;
  padding:0;
}

/* Menu */

div.Menu span.Remove {
  background:#FFF;
  color:#C7100B;
  padding:1px 3px 1px 3px;
  text-align:center;
  -moz-border-radius: 0.4em;
  border-radius: 0.4em;
  cursor:pointer
}

div.Menu .Remove:hover {
  background:#C7100B;
  color:#FFF;
}

div.Menu span.AddItem,
div.Menu span.AddProperty {
  display:inline;
  background:#FFF;
  color:#00AD23;
  padding:1px 3px 1px 3px;
  text-align:center;
  -moz-border-radius: 0.4em;
  border-radius: 0.4em;
  cursor:pointer
}

div.Menu .AddItem:hover,
div.Menu .AddProperty:hover {
  background:#00AD23;
  color:#FFF;
}

span.Collapse,
span.Expand {
  display:inline;
  padding:0px 1px 0px 1px;
  text-align:center;
  cursor:pointer;
  font-weight:bold;
  float:left;
}

span.Expand {
  color:#FF6200;
  display:none;
}

span.Collapse {
  color:#00AAFF;
}


/* Options */

div.Options fieldset ol {
  list-style: none;
  padding: 0 5px 0 5px;
  margin: 0;
}

div.Left {
  float:left;
  margin:0;
  padding:0;
  width:64%;
}

div.Right {
  float:left;
  margin:0;
  padding:0;
  width:36%;
}

div.Left li {
  padding: 0;
  margin:0;
}

div.Options form {
  margin:0;
  padding:0 2px 8px 8px;
  overflow:auto;
}

div.Options fieldset {
  margin:0;
  padding:0;
  overflow: hidden;
  background-color:#CCCCCC;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

div.Options fieldset legend {
  padding: 0 2px;
  font-weight: bold;
}

div.Left label {
  width:65px;
  display: inline-block;
  text-align:right;
  padding: 0;
  margin:0;
}

div.Right label {
  width:40px;
  display: inline-block;
  text-align:right;
}
div.Options fieldset input {
  border: 1px solid #9C9C9C;
  font-size:11px;
}

div.OptType input::after {
  clear:both;
}

div.Options input.ItemSpaces,
div.Options input.Minimum,
div.Options input.Maximum,
div.Options input.MinItems,
div.Options input.MaxItems {
 width:20px;
}

div.Options input.Name {
  width:80px;
}

div.Options input.Key,
div.Options input.Title,
div.Options input.SchemaId,
div.Options input.Description {
  width:130px;
}

li.OptError {
  display:none;
  background-color:#F24B4B;
  color:white;
  border:solid 1px #D10A0A;
  margin:6px 0px 3px 65px;
  padding:3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

li.OptActions input {
  padding:2px 4px 2px 4px;
  margin:10px 0 4px 4px;
  font-size:110%;
  float:right;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

li.OptType input {
  margin: 2px 2px 2px 4px;
}