html,body {
  margin:0;
  padding:0;
  height:100%; /* needed for container min-height */
  font-family:arial,sans-serif;
  font-family:'Helvetica Neue Light', HelveticaNeue-Light, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size:small;
  color: #444;
  background: #fff;
}


div#container {
  position:relative; /* needed for footer positioning*/
  margin:0 auto; /* center, not in IE5 */
  width:96%;
  background:#fff;
  height:auto !important; /* real browsers */
  height:100%; /* IE6: treaded as min-height*/
  min-height:100%; /* real browsers */
}

div#header {
  border-top:solid 4px #333;
  background: #ccc;
  margin:0;
  padding:0;
}

div#header h1 {
  padding:5px 0 0px 15px;
  letter-spacing:-2px;
  margin:0;
}

div#header h1 span {
  font-size:12px;
  color:#C7100B;
  letter-spacing:0px;
  font-weight:bold;
}

h1 a,
h1 a:hover {
  text-decoration: none;
  color: #444;
}

div#header h2 {
  padding:0 0 10px 15px;
  margin:0;
  color:gray;
  font-size:small;
  font-weight:normal;
}

div#content {
  height:100%;
  padding:1em 0em 5em; /* bottom padding for footer */
}

div#mainleft
{
  clear: left;
  float: left;
  width: 56%;
  padding: 0;
  margin: 0;
  display: inline;
}

div#mainright
{
  float: right;
  height:100%;
  width: 40%;
  padding: 0;
  margin: 0;
  display: inline;
  min-height:300px;
}

div#footer {
  position:absolute;
  width:100%;
  bottom:0; /* stick to bottom */
  background:#ccc;
  border-bottom:solid 4px #333;
}

div#footer p {
  padding:0px;
  float:right;
  margin-right:20px;
}

div#footer p.footernav {
  padding:0px;
  float:left;
  margin-left:20px;
}

div#Edit {
  padding:0;
  margin:0;
  font-family:'Helvetica Neue Light', HelveticaNeue-Light, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size:11px;
}

div#Review {
  padding:0;
  margin:0;
  display:none;
}

div#String {
  padding:0;
  margin:20px 5px 0 0;
  display:none;
}

#Toolbar {
  float:right;
  width: 100%;
  background: #808080;
  clear:both;
  border-bottom:solid 2px #FF6200;
  font-size:12px;
  margin:0 0 10px 0;
}

#Toolbar ul {
  margin: 0;
  padding: 0;
}

#Toolbar ul li {
  background:#FF9B5C;
  list-style-type: none;
  display: inline;

}

#Toolbar li a
{
  display: block;
  float: right;
  padding: 4px 16px 4px 16px;
  color: #fff;
  text-decoration: none;
  border-left: 1px solid #fff;
  background: #808080;
}

#Toolbar li a.selected { 
  background: #FF6200; 
}

#Toolbar li a:hover { 
  background: #FF6200; 
}

#navigation
{
  float: left;
  width: 100%;
  background: #333;
  border-bottom:solid 4px #FF6200;
}

#navigation ul
{
  margin: 0;
  padding: 0;
}

#navigation ul li
{
  list-style-type: none;
  display: inline;
}

#navigation li a
{
  display: block;
  float: left;
  padding: 5px 10px;
  color: #fff;
  text-decoration: none;
  border-right: 1px solid #fff;
  background: #333;
}

#navigation li a.selected { 
  background: #FF6200; 
}

#navigation li a:hover { 
  background: #FF6200; 
}

a, a:hover { 
  outline: none;
  text-decoration: underline;
  color: #003D5D;
}

a:hover { 
  text-decoration: none;
}

form#Output fieldset {
  margin:0 0 15px 0;
  padding:10px;
  border:solid 1px #000;
  -moz-border-radius: 5px;
  border-radius: 5px;
  height:100%;
}

form#Output legend {
  font-size:90%;
  padding: 0 2px;
  margin:0;
  font-weight: bold;
  height:100%;
}

form#Output textarea {
  width:100%;
  font-size:11px;
  margin:0;
  padding:0;
  border:solid 0px #000;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

form#Input fieldset {
  margin:0 0 15px 0;
  padding:10px;
  border:solid 1px #000;
  -moz-border-radius: 5px;
  border-radius: 5px;
  height:100%;
}

form#Input legend {
  font-size:90%;
  padding: 0 2px;
  margin:0;
  font-weight: bold;
  height:100%;
}

form#Input textarea {
  width:100%;
  font-size:11px;
  margin:0;
  padding:0;
  border:solid 0px #000;
  -moz-border-radius: 5px;
  border-radius: 5px;

}

form#Input input.InputButton {
  padding:3px 10px 3px 10px;
  border: 1px solid #9C9C9C;
  float:right;
  margin: 5px 0px 5px 5px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

form#Input span.RadioWrapper {
  margin:3px 50px 3px 0;
}
